
<div class="container">
<div class ='col sm-6'>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @comment.user.first_name %></h5>
      <p class="card-title"> <%= @comment.content %></p>
      <%= link_to 'Editer ce commentaire', edit_gossip_comment_path(:gossip_id => Gossip.find(params[:gossip_id]), :id => Comment.find(params[:id])), class: 'btn btn-outline-danger btn-sm' %> 
      <%= link_to 'Revenir en arrière', gossip_path(:id => Gossip.find(params[:gossip_id])), class: 'btn btn-outline-secondary btn-sm' %>
    </div>
  </div>
</div>
</div>


<div class="card text-center">
  <div class="card-header">
  <h5><%= @comment.user.first_name %></h5>
  </div>
  <div class="card-body">
    <p class="card-text"><%= @comment.content %></p>
    <%= link_to 'Modifier le commentaire', edit_gossip_comment_path(:gossip_id => Gossip.find(params[:gossip_id]), :id => Comment.find(params[:id])), class: 'btn btn-outline-danger btn-sm' %>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
