
<div class="card text-center">
    <div class="card-header">
        <h5><%= @gossip.title %></h5>
    </div>
    <div class="card-body">
        <p class="card-text"><%= @gossip.content %></p>
        <p class="card-text">Auteur : <%=link_to "#{@gossip.user.first_name}", user_path(:id => @gossip.user.id), :class => "card-text" %></p>
        <p class="card-text">Ville :  <%=link_to "#{@gossip.user.city.name}", city_path(:id => @gossip.user.city.id), :class => "card-text" %></p>
    </div>
        <div class="card-footer text-muted">
            <%= @gossip.created_at %>
        </div>
    </div>
</div>


<% if logged_in? %>

<% if @problem %>
  <div class="alert alert-danger" role="alert">
    <p>Commentaire non validé pour la (ou les) raison(s) suivante(s) :<p>
    <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </div>
  
<% end %>

 <div class='mt-3'>
  <h6>Poster un commentaire:</h6>
  <form action= <%= gossip_comments_path %> method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
      <textarea class="form-control" rows="3" placeholder="Ecris ton commentaire ici" name='content></textare>
      <button type="submit" class="btn btn-outline-dark">Submit</button>
  </form>
</div>
<% end %>



<div class="container text-center">
    <% @comments.each do |comment| %>
        <% if comment.gossip_id == @gossip.id %>
        <p><%= comment.content %>
        <%= link_to "Lire ce commentaire", gossip_comment_path(:id => comment.id, :gossip_id => @gossip.id), class: 'btn btn-outline-dark' %>

        <% end %>
    <% end %>
</div>



